<!DOCTYPE HTML>
{{{body}}}
<div id="footer" class="start-foot" style="font-family: 微軟正黑體, 蘋方-繁;">
 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2" id="ntab1"><a href="#test5"><b>1.建立活動</b></a></li>
        <li class="tab col s2" id="ntab2"><b>2.取得網址</b></li>
        <li class="tab col s2" id="ntab3"><b>3.填寫名稱</b></li>
        <li class="tab col s2" id="ntab4"><b>4.選擇時間</b></li>
        <li class="tab col s2" id="ntab5"><b>5.觀看分析</b></li>
      </ul>
    </div>
    <div id="test1" class="col s12"></div>
    <div id="test2" class="col s12"></div>
    <div id="test3" class="col s12"></div>
    <div id="test4" class="col s12"></div>
    <div id="test5" class="col s12"></div>
  </div>
</div>

<script>
function escapeHtml(text) {
  return text
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
}
</script>
