<div class="start-foot">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#1" style="color: #dddddd;"><b>1.建立活動</b></a></li>
        <li class="tab col s3"><a href="#2" style="color: #dddddd;"><b>2.取得網址</b></a></li>
        <li class="tab col s3"><a href="#3" style="color: #1e1e1e;"><b>3.分享網址</b></a></li>
        <li class="tab col s3"><a href="#4" style="color: #1e1e1e;"><b>4.輸入時間</b></a></li>
        <li class="tab col s3"><a href="#5" style="color: #1e1e1e;"><b>5.觀看分析</b></a></li>
      </ul>
    </div>
  </div>
</footer>