<!DOCTYPE html>
<html>
    <head>
    <style>
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url() format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
</style>
<title>Profile : 李冠德</title>

        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="hmaterialize.0.97.3.min.css" media="screen,projection">

        <!--Import Custom Stylesheet-->
          <link rel='stylesheet' href='/css/materialize.css' />
        <link type="text/css" rel="stylesheet" href="/css/table.css">
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/materialize0.97.3.min.js"></script>
    </head>
    <body>
    <div class="userid" style="display: none">{{{userid}}}</div>
        <nav>
        <div class="nav-wrapper" style="">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="hoster" href="badges.html">李冠德</a></li>
            <li><a id="logout" href="collapsible.html">Logout</a></li>
          </ul>
        </div>
        </nav><br/><br/>


        <div id="foo" style="width: 50%; margin: 0 auto; min-width:450px">
            <ul id="manage_table" class="collection with-header collapsible">
                <li class="collection-header center"><h4 class="teal-text">活動管理設定</h4><a class="dropdown-button right" href="#!" data-activates="adv-menu"><i class="material-icons right teal-text medium" style="margin-top:-62px;margin-right:5px;">menu</i></a></li>
            </ul>
        </div>

        <!-- Adv-Menu Dropdown Structure -->
        <ul id="adv-menu" class="dropdown-content">
            <li><a onclick="$('#modal_alldelete').openModal();">全部清除</a></li>
        </ul>

        <!-- 改名 modal -->
        <div id="modal_rename" class="modal">
            <div class="modal-content">
                <h4>更改名稱</h4>
                <div class="row">
                    <div class="input-field col s10">
                        <input value="null" id="input_name" name="input_name" type="text" class="validate">
                        <label class="active" data-error="請勿空白" for="input_name">活動名稱</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn-flat">取消</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="rename_submit()">送出</a>
            </div>
        </div>

        <!-- 刪除 modal -->
        <div id="modal_delete" class="modal">
            <div class="modal-content">
                <h4>刪除活動</h4>
                <p>您確定要永久刪除此活動嗎？</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn-flat">取消</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="delete_submit()">確定</a>
            </div>
        </div>

        <!-- 刪除全部 modal -->
        <div id="modal_alldelete" class="modal">
            <div class="modal-content">
                <h4>刪除所有活動</h4>
                <p>您確定要永久刪除目前所有的活動嗎？</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-red btn-flat">取消</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="alldelete_submit()">確定</a>
            </div>
        </div>

    </body>
    <script>
        var list = [
            {   "id":"4",
                "name":"畢業照團拍#1",
                "ctime":"2015-11-14 18:11:12",
                "url":"https://yuntech-when.herokuapp.com/result/564e58172c7dfc03007a6ab7"
            },
            {
                "id": "0",
                "name": "實務專題第七週會議",
                "ctime": "2015-11-17 07:00:00",
                "url": "A9d9AsD"
            },
            {
                "id": "1",
                "name": "資管系遊 台南一日行",
                "ctime": "2015-11-18 09:00:00",
                "url": "A9d9As2"
            },
            {
                "id": "2",
                "name": "企業倫理 - 社會實踐議題討論",
                "ctime": "2015-11-19 14:00:00",
                "url": "A939Zs7"
            },
            {
                "id": "3",
                "name": "斗六茶會",
                "ctime": "2015-11-19 10:50:00",
                "url": "A9d9A27"
            },

        ];
        //var userid = $('.userid').html();
        //var list = $.post('/getActivityByHoster',{id: userid});

        $(document).ready(function(){
            tableInit(list);
        });

        function tableInit(list) {

            list.forEach(function(activity) {
                $("#manage_table").append('<li><div class="collapsible-header tooltipped" data-position="right" data-tooltip="建立於 ' + activity.ctime + '"><i class="material-icons">event</i><span class="activity_name">' + activity.name + '</span><span class="activity_id" hidden>' + activity.id + '</span></div><div class="collapsible-body"><div class="row"><div class="col right"><a class="waves-effect waves-light btn modal-trigger" data-target="modal_delete"><i class="material-icons left">delete</i>刪除</a></div><div class="col right"><a class="waves-effect waves-light btn modal-trigger" data-target="modal_rename"><i class="material-icons left">mode_edit</i>改名</a></div><div class="col right"><a onclick="goAnalysis()" class="waves-effect waves-light btn orange accent-3"><i class="material-icons left">play_arrow</i>觀看分析</a></div></div></div></div></li>');
                
                $(".collapsible-body").last().find(".modal-trigger").leanModal();
                $(".tooltipped").last().tooltip({delay: 50});
            });

            $(".collapsible-header").on("click", function() {
                $("#modal_rename").find("#input_name").attr("value", $(this).children(".activity_name").text());
            });
        }

        function goAnalysis() {
            location.href = "https://yuntech-when.herokuapp.com/result/564e58172c7dfc03007a6ab7";
        }

        function rename_submit() {
            
        }

        function delete_submit() {
            
        }

        function alldelete_submit() {
            
        }
    </script>

</html>